.carousel-item-overlay {
    position: relative;
}

.carousel-item-overlay img {
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    /* Gradient from black to transparent */
    z-index: 1;
}

.carousel-caption {
    position: relative;
    z-index: 2;
    color: white;
}


.caption-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.hover-card {
    position: relative;
    width: 100%;
    transition: transform 0.3s ease;
}

.hover-card-image-container {
    position: relative;
    overflow: hidden;
}

.hover-card img {
    width: 100%;
    height: 180px;
    transition: opacity 0.5s ease;
}

.hover-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-card:hover .hover-card-overlay {
    opacity: 1;
}

.hover-card:hover img {
    opacity: 0.3;
}

.hover-card-body {
    margin-top: 15%;
    text-align: center;
}